//colors
$color_background_sidebar: #4d394b;
$color_sidebar_lists: #ab9ba9;
$color_sidebar_titles: #372c36;
$color_user_sidebar: #3e313c;
$white: #fff;
$color_channel_plus: #f9f871;
$color_logout_channel: #fdc153;
$black: #000;
$color_message_count: #d65953;
$color_message_number: #d3d3d3;
$gray: #808080;

//fonts
$font_open_sans: "Open Sans script=all rev=1";

body {
  height: 100vh;
  font-family: $font_open_sans;
}

.header {
  height: 50px;
  font-weight: 900;
  vertical-align: middle;
}

.col_left {
  background-color: $color_background_sidebar;
  color: $color_sidebar_lists;
  border-style: solid solid;
  border-width: 2px;
  border-color: $color_sidebar_titles;
}

#messages {
  height: 80%;
  overflow-y: scroll;
}

#user_menu {
  background-color: $color_user_sidebar;
  color: $white;
}

.dark {
  background-color: $color_user_sidebar;
  color: $white;
}

.channel {
  color: $white;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  cursor: pointer;
}

.channel_list {
  list-style-type: none;
  text-align: left;
  color: $color_sidebar_lists;
}

.active {
  color: $color_channel_plus;
}

.nav-link {
  display: inline-block;
}

.form-container {
  position: relative;
  top: 46%;
  text-align: center;
}

.logout-btn {
  background-color: $color_logout_channel;
  color: $black;
  border: 1px solid $color_logout_channel;
}

.message-num {
  display: inline-block;
  background-color: $color_message_count;
  color: $color_message_number;
  border: 2px solid $color_message_count;
  border-radius: 5px;
  font-size: 11px;
  padding: 0 5px;
}

.newchannel-btn {
  background-color: $color_logout_channel;
  color: $black;
  border: 2px solid $color_logout_channel;
  font-size: 15px;
  margin-left: 10px;

  &:hover {
    color: $white;
  }
}

.listings_header {
  color: $color_sidebar_lists;
}

.message_username {
  font-weight: 900;
}

.message_timestamp {
  color: $gray;
  display: inline;
}

.message_content {
  font-style: italic;
  display: block;
  min-height: 1rem;
}

.message {
  animation-name: hide;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: paused;
}

.input-box_text {
  width: 90%;
}

@keyframes hide {
  0% {
    opacity: 1;
    height: auto;
    line-height: 100%;
  }
  75% {
    opacity: 0;
    height: auto;
    line-height: 100%;
  }
  100% {
    opacity: 0;
    height: 0;
    line-height: 0;
  }
}